.custom_plus {
    padding: 100px 0;
}

#plus {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    font-size: 72px;
}

.text_center {
    text-align: center;
}

#header .mdl-layout__header-row {
    padding: 0 20px;
}

#header .mdl-layout__header-row:hover {
    cursor: text;
}

.mdl-mini-footer {
    margin-top: 50px;
}
